 <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="navbar-brand btn btn-danger text-white">LazyToDo</a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% if user.is_authenticated %}

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Задачи
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item text-white" href="{% url 'task:open_task_list' %}">Все открытые задачи</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'task:express_task_list' %}">Задачи на сегодня</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'task:overdue_task_list' %}">Просроченные</a></li>
                <li><a class="dropdown-item text-white" href="{% url 'task:close_task_list' %}">Завершенные</a></li>
                <li><a class="dropdown-item text-white" href="{% url 'task:task_list' %}">Все задачи</a></li>
              </ul>
          </li>

          <li class="nav-item"><a class="nav-link text-white" href="{% url 'task:task_add' %}">Добавить задачу</a></li>
        {% endif %}
        </ul>

        <div class="text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% if user.is_authenticated %}
            <li class="nav-item">

            <a class="nav-link text-white" href="{% url 'users:profile' %}">Профиль
            {% if not user.email_is_confirmed %}
            <span class="badge text-danger">не подтвержден</span>
            {% endif %}
            </a>

            </li>
            <li class="nav-item">
              <form id="logout-form" action="{% url 'users:logout' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-danger me-2" type="submit">Выйти</button>
              </form>
            </li>

          {% else %}

            <li class="nav-item">
              <a class="btn btn-outline-light me-2" href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-light me-2" href="{% url 'users:register' %}">Регистрация</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </header>

